/.gradle
/build
/*/build
app_pojavlauncher/src/main/assets/components/jre
/app_pojavlauncher/src/main/assets/components/jre-new/
/app_pojavlauncher/src/main/assets/components/jre-21/
local.properties
.idea/
.vs/
/curseforge_key.txt
/app_pojavlauncher/libs/ltw-release.aar
*.apk
storage
